* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --blue: #0856B6;
    --blue-1:#093995;
    --blue-2:#002975;
    --blue-brand:#293486;
    --light-blue: #edf3ff;

    --white:#FFFFFF;
    --orange:#FFA800;
    --brown:#511700;
    --gray:#808080;

    --green-brand:#7FB050;
    --red:#D13827;
    --gray-brand:#8B8B8B;

    /* Typography */
    --ff-arimo: 'Arimo', sans-serif;

    /* Tamanhos convertidos do PSD (Desktop) */
    --fs-h1: 4rem; /* ˜64px */
    --fs-h2: 3rem; /* 48px */
    --fs-xxl: 2.5rem; /* 40px */
    --fs-xl: 2.1rem; /* ˜34px */
    --fs-lg: 1.5rem; /* 24px */
    --fs-base: 1.125rem; /* 18px */
    --fs-sm: 1rem; /* 16px */
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 74px; /* Altura padrão para o desktop (1024px) */
}

@media (max-width: 1024px) {
    html {
        scroll-padding-top: 64px;
    }
}