.kv-section {
    background-color: var(--white, #FFFFFF);
    width: 100%;
    display: block;
    padding: 0;
}

.kv-container {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.kv-container img {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
}

@media (max-width: 1024px) {
    .kv-container {
        width: 100%;
        padding-left: 0px;
        padding-right: 0px;
    }
}

@media (max-width: 768px) {
    .kv-container {
        width: 100%;
        padding-left: 0px;
        padding-right: 0px;
    }

    .kv-container img {
        width: 100%;
        height: auto;
        object-fit: cover;
    }
}